/*! Landing page main container style here  */

.container__main {
	background-color: var(--primary-bg);
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr 10fr 3fr;
}

/* ! Sidebar style here  */

.menu__option-btn {
	margin: 1rem 0;
	font-size: 1.25rem;
}

.menu__option-btn:hover {
	transition: color 0.3s ease-in-out;
	color: var(--color-pri);
}

.menu__title-sec {
	min-width: 2rem;
	min-height: 2rem;
}

/* ! Main quiz page style here */

.main__quiz-cat {
	margin-top: 2rem;
	min-height: 50%;
}

/* Card style here */
.card {
	box-shadow: none;
	min-height: 24rem;
	max-width: 20rem;
}

.card .card__sec-upper {
	background-color: var(--level-bg);
	height: 12rem;
}

.card__upper-image {
	width: auto;
	overflow: hidden;
}

.card .card__upper-overlay a {
	display: block;
	padding: 0.4rem;
}

.card__sec-lower {
	height: 12rem;
}
