.main__footer-sec {
	height: 4rem;
	border-top: 2px solid var(--level-color);
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer__icon {
	font-size: 1.25em;
	margin: 0 1rem;
	cursor: pointer;
	transition: color 0.3s ease-in-out;
}

.footer__icon:hover {
	color: var(--level-color);
}
